* {
    margin: 0;
    padding: 0;
}

.main-container {
    margin: auto;
    width: 30rem;
    background: blue;
}

.calc-container {
    margin: auto;
    width: 100%;
}

.display-container {
    height: 5rem;
    display: flex;
    flex-direction: column;
}

.display-container input {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border: 1px solid black;
}

.input-container {
    height: 40%;
}

.results-container {
    height: 60%;
}

.btns-container {
    background: red;
    display: grid;
}

.btns-container button {
    padding: 2rem 0;
}

.equals {
    grid-area: 3 / 5 / span 2/ span 1;
}